/*
 * Copyright (c) 2026 Bayrem Gharsellaoui
 * SPDX-License-Identifier: Apache-2.0
 */

&usart3 {
    status = "okay";
    current-speed = <115200>;

    pn532 {
        compatible = "nxp,pn532";

        /* Optional reset line */
        // irq-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;

        /* Optional reset line */
        // reset-gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
    };
};