/*
 * Copyright (c) 2026 Bayrem Gharsellaoui
 * SPDX-License-Identifier: Apache-2.0
 */

&uart1 {
    status = "okay";
    compatible = "zephyr,native-tty-uart";
    current-speed = <115200>;
    serial-port = "/dev/ttyUSB0";

    pn532 {
        compatible = "nxp,pn532";
        /* No IRQ or Reset pin used in native_sim */
    };
};